<table border="1px">
    <tr>
        <th >Room ID</th>
        <th >Room Type</th>
        <th >Ameneties</th>
        <th >Price</th>
        <th >Checkin Time</th>
        <th >Checkout Time</th>
    </tr>

    <tr *ngFor="let liist of roomsdeet; let o = odd; let e = even; let i = index">
        <td >{{liist.roomid}}</td>
        <td >{{liist.roomtype}}</td>
        <td >{{liist.ameneties}}</td>
        <td >{{liist.price }}</td>
        <td >{{liist.checkintime }}</td>
        <td >{{liist.checkouttime }}</td>

    </tr>
</table>