
 <div *ngIf="!seldroom"> 
        <div [hidden]="hide">

            <div *ngIf="room.availablerooms>0">
                <h3>{{room.availablerooms}} Rooms are available</h3>
            </div>

            <div *ngIf="room.availablerooms == 0">
                <h5>All Rooms are Booked</h5>
            </div>
        </div>



        <button (click)="toggle()">{{dummy}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <button (click)="addr()">Add Room</button><span [hidden]="showhide">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="book()">Book Room</button> </span>
        <br> 
        <br>
        <div *ngIf="room.availablerooms <=3" >
            <button (click)="tabtog()">{{tablebutton}}</button>
        </div>

        <div *ngIf="th">
            <app-displaytab [roomsdeet]="roomdeets" (selectedroom)="roomsel($event)"></app-displaytab>
        </div>
</div>

<div *ngIf="seldroom">
    <div>{{seldroom | json}} </div>
</div>